.principal-map {
  padding: 200px !important;
}

.detalles-map {
  padding: 150px !important;
}

.logobonito{
    margin: 30px;
    background-size: cover;
}

.logobonito2{
    height: 85px;
    margin-top: -80px;
    margin-left: 15px;
    margin-bottom: 50px;
}

.titulos{
    color: black;
}

.ajustedelogocontexto{
    height: 130px;
}

.ajustetextos{
    margin-top: -20px;
    text-align: center;
}
