.principal-map {
  padding: 200px !important;
}

.detalles-map {
  padding: 150px !important;
}

.logobonito{
    margin: 30px;
    background-size: cover;
}

.logobonito2{
    height: 85px;
    margin-top: -80px;
    margin-left: 15px;
    margin-bottom: 50px;
}

.titulos{
    color: black;
}

.ajustedelogocontexto{
    height: 130px;
}

.ajustetextos{
    margin-top: -20px;
    text-align: center;
}

.copyright{
    text-align: center;
}

.img-fit {
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
    animation: slidein 0.8s;
} 

.btn-crio {
    background: #ffc800;
    color: #fff;
}

@keyframes slidein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}