.principal-map {
  padding: 200px !important;
}

.detalles-map {
  padding: 150px !important;
}

.logobonito{
    height: 35px;
    margin-top: 8px;
    margin-left: 15px;
}

.logobonito2{
    height: 65px;
    margin-top: 8px;
    margin-left: 15px;
}
